<div class="tweet-header">
	<a href="https://twitter.com/{{user.screen_name}}" class="user">
		<strong>{{user.name}}</strong>
		<img class="avatar" src="{{user.profile_image_url}}" />
	</a>
	<small class="time"><a href="#" title="{{time}}">{{created_at}}</a></small>
	<button class="btn btn-default btn-xs pull-right retweet">
		<span class="glyphicon glyphicon glyphicon-retweet"></span>
	</button>
</div>
<p class="tweet-text">{{text}}</p>
<div class="tweet-footer"></div>