<div class="tweet-header">
	<a href="https://twitter.com/{{user}}" class="user">{{user}}</a>
	<img class="avatar" src="https://pbs.twimg.com/profile_images/3430349373/c10e337e41565eff02758d7fa3a85946_bigger.png" />
	<small class="time"><a href="#" title="{{time}}">{{time}}</a></small>
</div>
<p class="tweet-text">{{content}}</p>
<div class="tweet-footer">
	<button class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon glyphicon-retweet retweet"><label>Retweet</label></span>
	</button>
</div>