<div class="tweet-header">
	<a href="https://twitter.com/{{user.screen_name}}" class="user">
		<strong>{{user.name}}</strong>
		<img class="avatar" src="{{user.profile_image_url}}" />
	</a>
	<small class="time"><a href="#" title="{{created_at}}">{{created_at}}</a></small>
</div>
<p class="tweet-text">{{text}}</p>
<!--div class="tweet-footer">
	<button class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon glyphicon-retweet retweet"><label>Retweet</label></span>
	</button>
</div-->